.x-cls-cycle-gap-tempo-body {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    .maximize-widget {
        width: 98% !important;
        height: 98% !important;
        flex: 1;
    }
    .react-grid-layout {
        overflow-y: auto;
        flex: 1;
        & > div {
            display: flex;
            flex: 1;
        }
    }
    opacity: 1;
    .x-cls-chart {
        max-width: 99%;
        flex: 1;
    }
}
