@font-face {
    font-family: 'Open_Sans_Bold';
    src: url('./assets/fonts/open_Sans/OpenSans-Bold.otf');
    src: url('./assets/fonts/open_Sans/OpenSans-Bold.otf') format('eot'),
        url('./assets/fonts/open_Sans/OpenSans-Bold.woff2') format('woff2'),
        url('./assets/fonts/open_Sans/OpenSans-Bold.woff') format('woff'),
        url('./assets/fonts/open_Sans/OpenSans-Bold.ttf') format('truetype'),
        url('./assets/fonts/open_Sans/OpenSans-Bold.svg') format('svg');
}

// @font-face{
//     font-family:"Open_Sans";
//     src:url("./assets/fonts/OpenSans-Bold.otf");
//     src:url("./assets/fonts/Assistant-ExtraBold.ttf") format("otf");
//     url("./assets/fonts/Assistant-ExtraLight.otf") format("woff2"),
//     url("./assets/fonts/Assistant-Light.otf") format("woff"),
//     src: url("./assets/fonts/Assistant-Regular.otf") format("opentype"),
//     url("./assets/fonts/Assistant-SemiBold.otf") format("svg");
// }
