@import 'scss/main.scss';

.x-cls-ta-table-widget {
    opacity: 1;
    display: flex;
    flex: 1;

    & > div,
    & > div > div {
        flex: 1;
    }

    &.react-grid-item {
        // default widget background and border
        background-color: #333;
        border: 1px solid #bbb;
    }
}

.x-cls-ta-table-widget-header {
    opacity: 1;
}

.x-cls-ta-table-widget-body {
    opacity: 1;
}
