@import 'scss/main.scss';

.x-cls-uptime-distribution-widget {
    opacity: 1;
    display: flex;
    flex: 1;
    max-width: 100%;

    & > div,
    & > div > div {
        flex: 1;
    }

    &.react-grid-item {
        // default widget background and border
        background-color: $smart-black-2;
        border: 1px solid #bbb;
    }
}

.x-cls-uptime-distribution-widget-header {
    opacity: 1;
}

.x-cls-uptime-distribution-widget-body {
    opacity: 1;
}
