.x-cls-pareto-analysis-spr-body {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    .breadcrumb-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .react-grid-layout {
        overflow-y: auto;
        flex: 1;
        & > div {
            display: flex;
            flex: 1;
        }
    }
    .x-cls-chart {
        max-width: 100%;
        flex: 1;
    }
    .maximize-pareto-spr-widget-width {
        width: 98% !important;
        flex: 1;
    }
}
